<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>
</head>

<body>
	<div class="title" style="color: blue;font-size: 30px;text-align: center;">生产存储命令工具</div>
	<form action="">
		<table align="center">
			<tr>
				<td>固定命令</td>
				<td style="height: 45px;width: 50px">
					<input type="text" name="" id="gudin"
						value="java -cp storage-admap-1.0-SNAPSHOT.jar com.ecarx.bdp.main.run">
				</td>
			</tr>

			<tr>
				<td>channel</td>
				<td style="height: 45px;width: 50px">
					<input type="text" name="channel" id="channel" value="zlsc"></td>
			</tr>
			<tr>
				<td>project_id</td>
				<td style="height: 45px;width: 50px">
					<input type="text" name="project_id" id="project_id"></td>
			</tr>
			<tr>
				<td>project_name</td>
				<td style="height: 45px;width: 50px">
					<input type="text" name="project_name" id="project_name"></td>
			</tr>
			<tr>
				<td>item_name</td>
				<td style="height: 45px;width: 50px">
					<input type="text" name="item_name" id="item_name"></td>
			</tr>
			<tr>
				<td>download_path</td>
				<td style="height: 45px;width: 50px">
					<input type="text" name="download_path" id="download_path"></td>
			</tr>
			<tr>
				<td>local_path</td>
				<td style="height: 45px;width: 50px">
					<input type="text" name="local_path" id="local_path"></td>
			</tr>

			<tr>
				<td>option</td>
				<td>
					<input type="radio" name="choose" value="upload" id="c1">
					<label for="c1">上传</label>
					<input type="radio" name="choose" value="download" id="c2">
					<label for="c2">下载</label>

				</td>
			</tr>
			<tr>
				<td>
					<div id="res"></div><br><br>
				</td>
			</tr>

			<tr>
				<td colspan="2" align="center">
					<input type="reset" name="reset" value="重置" style="color: blue">
					<input id="btn_ok" type="submit" name="submit" value="确定" style="color: blue" onclick="upload">

					<script>
						// 建立socket.io连接
						var socket = io('http://localhost:3000/test');//10.43.75.97
						// 监听server发送的消息
  						socket.on('replay', function (data) {
							console.log('从server发来的消息：' + data);
  						});

						let btnOk = document.getElementById("btn_ok");
						// 监听
						btnOk.addEventListener('click', upload);
						function upload() {
							let c1 = document.getElementById("c1");
							let c2 = document.getElementById("c2");
							let option = "download";
							if (c1.checked) {
								option = c1.value;
							} else {
								option = c2.value;
							}

							// 拼接字符串
							let paramers = {
								channel: channel.value,
								project_id: project_id.value,
								project_name: project_name.value,
								item_name: item_name.value,
								download_path: download_path.value,
								local_path: local_path.value,
								option,
							}
							try {
								let str = JSON.stringify(paramers);
								let result = gudin.value + ' ' + str;
								console.log(result)

								// 通过socket.io向server发送命令
								socket.emit('commands', { data: result });
							} catch (err) {
								console.log(err)
							}
						}

					</script>

				</td>
			</tr>
		</table>
	</form>
</body>

</html>